###############################################################
#### START OF OLD SHARED JAILS ################################
###############################################################
#
# This section is entirely for notes/experimental purposes.
#
#
#####
#Each of the below jails make use of the following:
#Filter: failtest - Basic filter that matches anything thrown into the log file
#Action: iptables - Standard SSH action
#
#SSH-SHARED
#Used to action any malicous IPs pulled in from remote database

[ssh-shared]
enabled  = true
filter	 = failtest
#iptable entries will be marked with SSH-SHARED showing they originated from a remote host.
action   = iptables[name=SSH-SHARED, port=ssh, protocol=tcp]
logpath  = /etc/fail2ban/empty.log

#Max retry of 1, use default ban time of 10 minutes
maxretry = 1


########
#SSH-LONG and SSH-VERYLONG
#Both jails make use of iptest action and used to pull in malicous IPs that match for longer bans

[ssh-long]

#ssh-long matches any database entries in the last 60 miutes that were added by the stanard ssh-iptables jail.
#If a match occurs and 3 database entries are found the ip is banned for 60 minutes.

enabled = true
filter  = failtest
logpath = /etc/fail2ban/long.log
#iptest pushes the matched ip to the database again this time watched with the jail anem SSH-LONG
action = iptables[name=SSH-LONG, port=ssh, protocol=tcp]
	     iptest[name=SSH-LONG, port=ssh, protocol=tcp, bantime=%(bantime)s]
maxretry = 3
bantime = 3600

[ssh-verylong]

#ssh-verylong matches any database entries in the last 12 hours that were added by the ssh-long jail.
#If a match occurs and 4 database entries are found the ip is banned for 24 hours.

enabled = true
filter = failtest
logpath = /etc/fail2ban/verylong.log
#iptest pushes the matched ip to the database again with the jail name SSH-LONG
action = iptables[name=SSH-VLONG, port=ssh, protocol=tcp]
	     iptest[name=SSH-VLONG, port=ssh, protocol=tcp, bantime=%(bantime)s]
maxretry = 4
bantime = 86400

###############################################################
#### END OF OLD SHARED JAILS###################################
###############################################################
